<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset=UTF-8">
    <title>Лента новостей</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header name="top">
        <h1>Новости</h1>
        <div  class="auth"><a href="/admin">Авторизация</a></div>
    </header>
    <section class="main">
        <ul class="NewsList">
            {%for i in test%}
            <li class="NewsBlock">
                <img src="{{i.link}}" alt="pict" />
                <div class="NewsContent">
                    <a href="{{i.text.link}}" style="text-decoration: none; color: white"><h1>{{i.text.title}}</h1></a>
                    <p>{{i.text.description}}</p>
                </div>
            </li>
            {%endfor%}
        </ul>
        
    </section>
    <div  class="pageNumberButton"><a href="#top">Вверх</a></div>
    <footer>

    </footer>
</body>

</html>